In [1]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("data/food_data.xlsx")

In [3]:
df.head()

,description,sub_category,main_category,category,energy (kJ),carbohydrate_G,vitamin_A_UG,calcium_MG,potassium_MG,zinc_MG,...,folate_total_UG,vitamin B_12_UG,thiamin_MG,riboflavin_MG,cholesterol_MG,Niacin_MG,vitamin_B_6_MG,selenium_UG,vitamin D _UG,choline_total_MG
0,"Abiyuch, raw",Fruit,Veg,Fruits and Fruit Juices,290.0,17.60,5.0,8.0,304.0,0.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Acerola juice, raw",Juice,Veg,Fruits and Fruit Juices,96.0,4.80,25.0,10.0,97.0,0.10,...,14.0,0.0,0.020,0.060,0.0,0.400,0.004,0.1,NaN,NaN
2,"Acerola, (west indian cherry), raw",Fruit,Veg,Fruits and Fruit Juices,134.0,7.69,38.0,12.0,146.0,0.10,...,14.0,0.0,0.020,0.060,0.0,0.400,0.009,0.6,NaN,NaN
3,"Alfalfa seeds, sprouted, raw",Vegetable,Veg,Vegetables and Vegetable Products,96.0,2.10,8.0,32.0,79.0,0.92,...,36.0,0.0,0.076,0.126,0.0,0.481,0.034,0.6,0.0,14.4
4,"Amaranth leaves, raw",Vegetable,Veg,Vegetables and Vegetable Products,97.0,4.02,146.0,215.0,611.0,0.90,...,85.0,0.0,0.027,0.158,0.0,0.658,0.192,0.9,0.0,NaN

In [4]:
df.rename(columns={'vitamin_K_ UG': 'vitamin_K_UG', 'vitamin D _UG' : 'vitamin_D_UG'}, inplace=True)

In [5]:
df.shape

(1166, 36)

In [6]:
df.fillna(0, inplace = True)

In [8]:
in_mg = ['calcium_MG', 'potassium_MG', 'zinc_MG', 'vitamin_C_MG', 'iron_MG', 'magnesium_MG', 'phosphorus_MG',
          'sodium_MG', 'copper_MG', 'vitamin_E_MG', 'thiamin_MG', 'riboflavin_MG', 'cholesterol_MG', 'Niacin_MG', 
          'vitamin_B_6_MG', 'choline_total_MG']

in_grams = ['carbohydrate_G', 'water_G', 'total_lipid_fat_G', 'protein_G', 'fatty_acids_total_saturated_G', 
            'fiber_total_dietary_G','total_sugars_G', 'fatty_acids_total_monounsaturated_G', 
            'fatty_acids_total_polyunsaturated_G' ]

in_ug = ['vitamin_A_UG', 'vitamin_K_UG', 'folate_total_UG', 'vitamin B_12_UG', 'selenium_UG', 'vitamin_D_UG' ]

others = ['description', 'sub_category', 'main_category', 'category', 'energy (kJ)']

In [9]:
# Convert grams to milligrams (g → mg)
df[in_grams] = df[in_grams] * 1000

# Convert micrograms to milligrams (µg → mg)
df[in_ug] = df[in_ug] / 1000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1166 entries, 0 to 1165
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   description                          1166 non-null   object
 1   sub_category                         1166 non-null   object
 2   main_category                        1166 non-null   object
 3   category                             1166 non-null   object
 4   energy (kJ)                          1166 non-null   float64
 5   carbohydrate_G                       1166 non-null   float64
 6   vitamin_A_UG                         1166 non-null   float64
 7   calcium_MG                           1166 non-null   float64
 8   potassium_MG                         1166 non-null   float64
 9   zinc_MG                              1166 non-null   float64
 10  water_G                              1166 non-null   float64
 11  total_lipid_fat_G                    1166 non-null   float64
 12  protein_G                            1166 non-null   float64
 13  fatty_acids_total_saturated_G        1166 non-null   float64
 14  vitamin_C_MG                         1166 non-null   float64
 15  fiber_total_dietary_G                1166 non-null   float64
 16  iron_MG                              1166 non-null   float64
 17  magnesium_MG                         1166 non-null   float64
 18  phosphorus_MG                        1166 non-null   float64
 19  sodium_MG                            1166 non-null   float64
 20  copper_MG                            1166 non-null   float64
 21  total_sugars_G                       1166 non-null   float64
 22  fatty_acids_total_monounsaturated_G  1166 non-null   float64
 23  vitamin_K_UG                         1166 non-null   float64
 24  vitamin_E_MG                         1166 non-null   float64
 25  fatty_acids_total_polyunsaturated_G  1166 non-null   float64
 26  folate_total_UG                      1166 non-null   float64
 27  vitamin B_12_UG                      1166 non-null   float64
 28  thiamin_MG                           1166 non-null   float64
 29  riboflavin_MG                        1166 non-null   float64
 30  cholesterol_MG                       1166 non-null   float64
 31  Niacin_MG                            1166 non-null   float64
 32  vitamin_B_6_MG                       1166 non-null   float64
 33  selenium_UG                          1166 non-null   float64
 34  vitamin_D_UG                         1166 non-null   float64
 35  choline_total_MG                     1166 non-null   float64
dtypes: float64(32), object(4)
memory usage: 328.1+ KB

In [11]:
df.head()

,description,sub_category,main_category,category,energy (kJ),carbohydrate_G,vitamin_A_UG,calcium_MG,potassium_MG,zinc_MG,...,folate_total_UG,vitamin B_12_UG,thiamin_MG,riboflavin_MG,cholesterol_MG,Niacin_MG,vitamin_B_6_MG,selenium_UG,vitamin_D_UG,choline_total_MG
0,"Abiyuch, raw",Fruit,Veg,Fruits and Fruit Juices,290.0,17600.0,0.005,8.0,304.0,0.31,...,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0000,0.0,0.0
1,"Acerola juice, raw",Juice,Veg,Fruits and Fruit Juices,96.0,4800.0,0.025,10.0,97.0,0.10,...,0.014,0.0,0.020,0.060,0.0,0.400,0.004,0.0001,0.0,0.0
2,"Acerola, (west indian cherry), raw",Fruit,Veg,Fruits and Fruit Juices,134.0,7690.0,0.038,12.0,146.0,0.10,...,0.014,0.0,0.020,0.060,0.0,0.400,0.009,0.0006,0.0,0.0
3,"Alfalfa seeds, sprouted, raw",Vegetable,Veg,Vegetables and Vegetable Products,96.0,2100.0,0.008,32.0,79.0,0.92,...,0.036,0.0,0.076,0.126,0.0,0.481,0.034,0.0006,0.0,14.4
4,"Amaranth leaves, raw",Vegetable,Veg,Vegetables and Vegetable Products,97.0,4020.0,0.146,215.0,611.0,0.90,...,0.085,0.0,0.027,0.158,0.0,0.658,0.192,0.0009,0.0,0.0

In [11]:
df.isnull().sum()

description                            0
sub_category                           0
main_category                          0
category                               0
energy (kJ)                            0
carbohydrate_G                         0
vitamin_A_UG                           0
calcium_MG                             0
potassium_MG                           0
zinc_MG                                0
water_G                                0
total_lipid_fat_G                      0
protein_G                              0
fatty_acids_total_saturated_G          0
vitamin_C_MG                           0
fiber_total_dietary_G                  0
iron_MG                                0
magnesium_MG                           0
phosphorus_MG                          0
sodium_MG                              0
copper_MG                              0
total_sugars_G                         0
fatty_acids_total_monounsaturated_G    0
vitamin_K_UG                           0
vitamin_E_MG                           0
fatty_acids_total_polyunsaturated_G    0
folate_total_UG                        0
vitamin B_12_UG                        0
thiamin_MG                             0
riboflavin_MG                          0
cholesterol_MG                         0
Niacin_MG                              0
vitamin_B_6_MG                         0
selenium_UG                            0
vitamin D _UG                          0
choline_total_MG                       0
dtype: int64

In [12]:
df.columns = df.columns.str.replace(r'_(UG|MG|G)$', '', regex=True)

In [13]:
df

,description,sub_category,main_category,category,energy (kJ),carbohydrate,vitamin_A,calcium,potassium,zinc,...,folate_total,vitamin B_12,thiamin,riboflavin,cholesterol,Niacin,vitamin_B_6,selenium,vitamin_D,choline_total
0,"Abiyuch, raw",Fruit,Veg,Fruits and Fruit Juices,290.0,17600.0,0.005,8.0,304.0,0.31,...,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0000,0.0,0.0
1,"Acerola juice, raw",Juice,Veg,Fruits and Fruit Juices,96.0,4800.0,0.025,10.0,97.0,0.10,...,0.014,0.0,0.020,0.060,0.0,0.400,0.004,0.0001,0.0,0.0
2,"Acerola, (west indian cherry), raw",Fruit,Veg,Fruits and Fruit Juices,134.0,7690.0,0.038,12.0,146.0,0.10,...,0.014,0.0,0.020,0.060,0.0,0.400,0.009,0.0006,0.0,0.0
3,"Alfalfa seeds, sprouted, raw",Vegetable,Veg,Vegetables and Vegetable Products,96.0,2100.0,0.008,32.0,79.0,0.92,...,0.036,0.0,0.076,0.126,0.0,0.481,0.034,0.0006,0.0,14.4
4,"Amaranth leaves, raw",Vegetable,Veg,Vegetables and Vegetable Products,97.0,4020.0,0.146,215.0,611.0,0.90,...,0.085,0.0,0.027,0.158,0.0,0.658,0.192,0.0009,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,"Beverages, tea, instant, lemon, unsweetened",Non Alcoholic,Non Alcoholic,Beverages,1440.0,78500.0,0.000,28.0,3450.0,0.98,...,0.061,0.0,0.017,0.558,0.0,6.170,0.223,0.0030,0.0,66.4
1162,"Beverages, tea, instant, lemon, with added asc...",Non Alcoholic,Non Alcoholic,Beverages,1610.0,97600.0,0.000,3.0,217.0,0.10,...,0.043,0.0,0.000,0.200,0.0,0.407,0.022,0.0007,0.0,0.0
1163,"Beverages, tea, instant, unsweetened, powder",Non Alcoholic,Non Alcoholic,Beverages,1320.0,58700.0,0.000,118.0,6040.0,1.69,...,0.103,0.0,0.000,0.985,0.0,10.800,0.356,0.0053,0.0,118.0
1164,"Beverages, tea, instant, unsweetened, prepared...",Non Alcoholic,Non Alcoholic,Beverages,4.0,170.0,0.000,3.0,18.0,0.01,...,0.000,0.0,0.000,0.003,0.0,0.032,0.001,0.0000,0.0,0.3
1165,"Beverages, tea, ready-to-drink, lemon, diet",Non Alcoholic,Non Alcoholic,Beverages,9.0,410.0,0.000,0.0,37.0,0.01,...,0.000,0.0,0.000,0.000,0.0,0.000,0.000,0.0000,0.0,0.0

In [14]:
df.columns

Index(['description', 'sub_category', 'main_category', 'category',
       'energy (kJ)', 'carbohydrate', 'vitamin_A', 'calcium', 'potassium',
       'zinc', 'water', 'total_lipid_fat', 'protein',
       'fatty_acids_total_saturated', 'vitamin_C', 'fiber_total_dietary',
       'iron', 'magnesium', 'phosphorus', 'sodium', 'copper', 'total_sugars',
       'fatty_acids_total_monounsaturated', 'vitamin_K', 'vitamin_E',
       'fatty_acids_total_polyunsaturated', 'folate_total', 'vitamin B_12',
       'thiamin', 'riboflavin', 'cholesterol', 'Niacin', 'vitamin_B_6',
       'selenium', 'vitamin_D', 'choline_total'],
      dtype='object')